<div class="bg-image" >
    <div class="breadcumb-div ">
        <div class="menu-btn">
        </div>
        <div aria-label="breadcrumb fullwidth">
            <ol class="breadcrumb ">
                <i class="mx-1 bi bi-travel-door"></i>
                <li class=" breadcrumb-item active" aria-current="page"> > <a href="HMRC">Benefits and Taxes</a> > <a href="home page">HMRC Compliance</a>><a href="home page">HMRC Compliance</a>><a href="home page">Initiate Request</a></li>
            </ol>
        </div>
    </div>
    <div class="container">
        <div class="card shadow">
            <div class="card-header p-0 px-5 py-2 bg-blue text-white">
                <h5> Associate Details</h5>
            </div>
            <div class="flex-box justify-congit tent-between">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Role</th>
                            <th scope="col">Employment Status</th>
                            <th scope="col">Base Country</th>
                            <th scope="col">Current Country</th>
                            <th scope="col">Base Branch</th>
                            <th scope="col">Current Branch</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>BPO Team Lead,BFS</td>
                            <td>Active Assignment</td>
                            <td>INDIA</td>
                            <td>UNITED KINGDOM</td>
                            <td>TCS-New Delhi</td>
                            <td>TCS-London</td>
                            <td id="View_Details"><a href="#">View Details</a></td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>
    <!-- <div><div id="astrk">#Mandatory fields are marked with asterik(*)</div> -->
<div class="container my-5">
    <div class=" card-header p-0 px-5 py-2 bg-blue text-white">
        <h5> Travel Expense Details </h5>
    </div>
<form #userForm="ngForm">
    <div class="card shadow " >
        <div class="container sm-1">
            <div class="row align-items-start">
                <div class="col-2" style="margin-right: 45px;">
                    <div class="form-group">
                        <div class="col "><label class="justify-content-start">Expense Amount</label>
                            <div class="form-group">
                                <input type="number" #expense_amount="ngModel"
                                    [class.is-invalid]="expense_amount.invalid && expense_amount.touched" class="form-control text-right "
                                    name="expense_amount" [(ngModel)]="userModel.expense_amount" placeholder="&#163;" required>
                               
                                <small class="text-danger" [class.d-none]="expense_amount.valid || expense_amount.untouched"> Amount is
                                    required</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2" style="margin-right: 45px;">
                    <div class="form-group" class="col">
                        <label>Mode of Transport</label>
                        <div>
                            <select required (blur)="validatemode_of_transport(mode_of_transport.value)" 
                            (change)="validatemode_of_transport(mode_of_transport.value)" 
                            #mode_of_transport="ngModel"
                                [class.is-invalid]="mode_of_transportHasError && mode_of_transport.touched"
                                class="custom-select form-control" name="mode_of_transport"
                                 [(ngModel)]="userModel.mode_of_transport">
                                <option value="default">Choose...</option>
                                <option *ngFor="let mode_of_transport of mode_of_transports">{{mode_of_transport}}</option>
                            </select>
                            <small class="text-danger" [class.d-none]="!mode_of_transportHasError || mode_of_transport.untouched">please choose
                                mode of Transport</small>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                <div class="form-group" class="col">
                    <label>Mode </label>
                    <div>
                        <select required (blur)="validatemode(mode.value)" 
                        (change)="validatemode(mode.value)"
                         #mode="ngModel"
                            [class.is-invalid]="modeHasError && mode.touched"
                            class="custom-select form-control" name="mode" [(ngModel)]="userModel.mode">
                            <option value="default">Choose...</option>
                            <option *ngFor="let mode of modes">{{mode}}</option>
                        </select>
                        <small class="text-danger" [class.d-none]="!modeHasError || mode.untouched">please choose mode </small>
                    </div>
                </div>
                </div>
                <div class="container">
                    <div class="row">
                    <mat-form-field appearance="fill">
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    </div>
                </div>
            </div>
            </div>
            
        
          
                  
    </div>
<div class="  my-5">
    <div class="card shadow">
        <div class=" card-header p-0 px-5 py-2 bg-blue text-white">
            <h5>Employee Declaration </h5>
        </div>
        <div>
            <P class="mx-3 my-3"> DECLARATION CUM UNDERTAKING</P>

            <p class="mx-3 my-3 "> I certify that the data provided is complete and correct to the best of my
                knowledge.<br>I authorise Tata Consultancy Services Ltd to verify the authenticity of the information
                provided. I understand my personal and financial information
                will be stored and provided to HMRC as and when requested.<br> I understand my data may only be used to
                fulfil purpose directly connected with those for which they are requested. I am aware of the possibility
                of exercising right of
                access, correction, cancellation, and opposition under the provisions of laws in force of this matter by
                application in writing.<br> I hereby declare that the above expenses are incurred by me. I am also aware
                that these claims are
                approved on the basis of mutual trust and I am personally responsible to HMRC to provide the evidence in
                case of any scrutiny from HMRC.
            </p>
        </div>
        <div class="flex-box py-3 badge-warning">
            <div class="form-check mx-3">
                <input class="form-check-input " type="checkbox" id="autoSizingCheck2" required>
                <label class="form-check-label" for="autoSizingCheck2">
                    <span class=" text-dark">I accept that I have read the above Terms of agreement pertaining to this
                        claim and agree to abide by the terms and conditions mentioned
                        therein.</span>
                </label>
            </div>
        </div>
    </div>
</div>
<div class=" my-5">
    <div class="card shadow">
        <div class="card-header p-0 px-5 py-2 bg-blue text-white">
            <h5>Supporting Documents Upload</h5>
        </div>
        <span class="px-4 py-2"><b>Supporting Documents(File Type-* doc,” docx.” jpeg pdf,” tif* be.” xls," xlsx." ppt.*
                ppt.” zip." od." od. ods) (max 5 MB)
            </b></span>
        <div class="  justify-content-between flex-box mx-5 my-4 ">
            <input type="file" id="form1">
            <button class=" ml-3 btn-lg btn-primary-custom ">Upload</button>
        </div> <span class="px-2 py-1"><b>Note:in case of multiple attachments please zip and attach.
            </b></span>
    </div>
</div>
<div class="d-flex justify-content-end ">
   <button class="btn btn-primary btn-sm ml-3">Save As Draft</button>
    <button [disabled]="(userForm.form.invalid || modeHasError) || mode_of_transportHasError  " class="btn btn-primary btn-sm float-right ml-3"
        type="submit">Submit </button>
</div>
    </form>
</div>
               
